
config 'samba'
	option 'name' 'BPEN'
	option 'workgroup' 'WORKGROUP'
	option 'description' 'BPEN'
	option 'homes' '0'
	option 'password' '123456'
	option 'user' 'BPEN'
	option 'enabled' '1'

config 'sambashare'
	option 'name' 'BPEN'
	option 'path' '/tmp/mnt'
	option 'read_only' 'no'
	option 'guest_ok' 'yes'
	option 'create_mask' '000'
	option 'dir_mask' '000'
#	option 'users' 'BPEN'

