
config 'samba'
	option 'name' 'radius_RW-WPS'
	option 'workgroup' 'WORKGROUP'
	option 'description' 'radius_RW-WPS'
	option 'homes' '0'
	option 'password' '00000000'
	option 'user' 'radius_RW-WPS'
	option 'enabled' '1'

config 'sambashare'
	option 'name' 'radius_RW-WPS'
	option 'path' '/tmp/mnt'
	option 'read_only' 'no'
	option 'guest_ok' 'no'
	option 'create_mask' '777'
	option 'dir_mask' '777'
#	option 'users' 'radius_RW-WPS'

