
config 'samba'
	option 'name' 'ibigstor'
	option 'workgroup' 'WORKGROUP'
	option 'description' 'ibigstor'
	option 'homes' '0'
	option 'password' '12345678'
	option 'user' 'ibigstor'
	option 'enabled' '1'

config 'sambashare'
	option 'name' 'ibigstor'
	option 'path' '/tmp/mnt'
	option 'read_only' 'no'
	option 'guest_ok' 'yes'
	option 'create_mask' '777'
	option 'dir_mask' '777'
#	option 'users' 'ibigstor'

